header h1 {
    text-align: center;
}

.default-input {
    margin: 5px;
}

#answer {
    width: ;
}

#form-content {
    border: 3px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#buttons {
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button {
    padding: 5px 20px;
    
}

textarea {
    width: 100%;
    resize: none;
}

#hidden {
    display: off;
}