/* PARA FIXAR I  */
/* h1 p {
    text-align: center;
}

ul li:hover {
    background-color: antiquewhite;
}
ul li:active {
    font-family: fantasy;
}

ul {
    list-style: none;
} */


/* Para fixar II */
div:hover {
    border: 5px solid red;
}

div:first-of-type {
    background-color: red;
}

div:nth-child(3n) {
    background-color: orange;
}

div:nth-last-child(4) {
    background-color: blue;
    padding: 30px;
}

div:nth-last-child(3) {
    background-color: brown;
}


div:last-of-type {
    background-color: antiquewhite;
}


div h3:nth-last-child(6):hover {
    color: pink;
}

div h3:nth-last-child(5):hover {
    color: green;
}

div:nth-last-child(4):hover {
    color: blueviolet;
}

div:nth-last-child(3) {
    background-color: brown;
}

div:last-of-type {
    background-color: antiquewhite;
}


body div h3:nth-child(odd) {
    font-style: italic;
}